#total-medals-nd {
    text-align: center;
    font-size: 60px;
    color : #6B3779 ;
}

#total-athletes-nd {
    text-align: center;
    font-size: 60px;
    color : #A07CD1 ;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}