<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Data Dashboard">
    <meta name="author" content="BONACORSI Joshua">
    <title>Summer Olympic Medals</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>

  <body>
    <div class="about">
      <h1>Summer Olympic Medals</h1>
      <h2>Project: Interactive charts for frontend data visualization using Flask & D3.js</h2>
      <h2>Author: BONACORSI Joshua</h2>
      <p>Bio: BONACORSI Joshua is a graduate student in Applied Mathematics.
         He has experience in Data Science and Analytics, Software Engineering and Technical Writing.</p>
      <p>Project Overview: The project is focused on the analysis of summer olympics medals distribution.
        This analysis is achieved using Python's Flask library to serve the data and Javascript D3.js library to visualize the analysis.
        The data we used can be found on Kaggle <a href="https://www.kaggle.com/datasets/divyansh22/summer-olympics-medals?resource=download">here</a>
      </p>
      <h4>The code can be found on Github <a href="#">here</a></h4>
    </div>

    <div class="visualization">
      <div id="pieChart"></div>
      <div id="barChart"></div>
    </div>

  </body>
</html>