<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/keen-dashboards.css')}} ">
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Summer Olympics Medals Dashboard</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Year Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Medals
              </div>
              <div class="chart-stage">
                <div id="year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Year Chart --> 

          <!-- Gender Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Medals by Gender
              </div>
              <div class="chart-stage">
                <div id="gender-chart"></div>
              </div>
            </div>
          </div>
          <!-- Gender Pie -->

          <!-- Medal Chart -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Medals by Level
              </div>
              <div class="chart-stage">
                <div id="medal-chart"></div>
              </div>
            </div>
          </div>
          <!-- Medal Chart -->

          <!-- Sport Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Medals by Sports
              </div>
              <div class="chart-stage">
                <div id="sport-chart"></div>
              </div>
            </div>
          </div>
          <!-- Sport Chart -->

        </div>
      </div>

      <!-- World Chart -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Distribution of medals
          </div>
          <div class="chart-stage">
            <div id="world-chart"></div>
          </div>
        </div>
      </div>
      <!-- World Chart -->

      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Medals
          </div>
          <div class="chart-stage">
            <div id="total-medals-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Athletes
          </div>
          <div class="chart-stage">
            <div id="total-athletes-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

      <!-- City Chart -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Medals by City
          </div>
          <div class="chart-stage">
            <div id="city-chart"></div>
          </div>
        </div>
      </div>
      <!-- City Chart -->

      <!-- Year Chart 2 -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Athletes by Year
          </div>
          <div class="chart-stage">
            <div id="year-chart"></div>
          </div>
        </div>
      </div>
      <!-- Year Chart 2 -->

    </div>

  </div>

    <hr>
    <p class="small text-muted">BONACORSI Joshua & MARTIN Erwan</p>

  </div>

  <script src="{{ url_for('static', filename='lib/js/queue.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/js/keen.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/js/crossfilter.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/js/d3.js') }}"></script> 
  <script src="{{ url_for('static', filename='lib/js/dc.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graphs.js') }}"></script>

</body>
</html>